.contacts {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  width: 65%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 3px;
}
.wa:hover {
  color: #25d366;
}

.yt:hover {
  color: #ff0000;
}

@media only screen and (max-width: 640px) {
  .contacts {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
